.cal-icon-container{
    width: 64px;
    min-width: 64px;
    height: 61px;
    min-height: 61px;
    -webkit-box-shadow: 1px 1px 2px 1px #C2C2C2; 
    box-shadow: 1px 1px 2px 1px #C2C2C2;
}

.month-container{
    background: #bf2a02;
    background: linear-gradient(0deg, #c72d04 0%, #a8220b 38%);
    height: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #C14726;
    position: relative;
}

.calendar-clip{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 6px;
    position: absolute;
    margin-top: -2px;
}

.month-style{
    font-family: Helvetica Neue;
    margin: 0px;
    font-weight: 500;
    font-size: 10px;
    color: #FFE6E0;
    margin-top: -1px;
}

.week-style{
    font-family: Helvetica Neue;
    margin: 0px;
    font-weight: 600;
    font-size: 10px;
    background-image: linear-gradient(0deg, #ececec 10%, #ffe6e0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    margin-top: -6px;

}

.clip-style{
    height: 11px;
}

.day-container{
    font-family: Helvetica Neue;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    background: linear-gradient(0deg, white 17%, #f4f4f4 49%, #d4d4d4 100%);
    position: relative;
}

.day-style{
    font-family: Helvetica Neue;
    margin: 0px;
    font-size: 35px;
    font-weight: 700;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: -3px;
    background: linear-gradient(164deg, #353030 28%, #a7a3a3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.fold-container{
    position: absolute;
    transform: translate(138%, 42%);
}

.fold-style{
    height: 17px;
}